/*
!.gitignore
!.vimrc
!.zshrc
!.zshenv
!.emacs
!/scripts

!/.config
/.config/*
!.config/nvim
/.config/nvim/*
!/.config/nvim/UltiSnips

!/projects
/projects/*
!/projects/vim-css
!/projects/vim-twig
!/projects/vim-vue
!/projects/neovim-vifm
!/projects/emacs
