/*
!.gitignore
!.vimrc
!.zshrc
!.zshenv
!/scripts

!/.config
/.config/*
!.config/nvim
/.config/nvim/*
!/.config/nvim/UltiSnips

!/projects
/projects/*
!/projects/vim-css
!/projects/vim-twig
!/projects/vim-vue
!/projects/vim-color
!/projects/neovim-vifm
!/projects/emacs

!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/themes
!/.emacs.d/lisp
/.emacs.d/lisp/default.el
!/.emacs.d/snippets
